---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.posts -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  
  {% if posts.size > 0 %}
  
  <h2 class="post-list-heading">Latest Updates</h2>
  <ul class="post-list">
    {%- for post in posts limit:5 -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {%- if post.categories.size > 0 -%}
        <span class="post-categories">
          {%- for category in post.categories -%}
            <span class="category-tag">{{ category }}</span>
          {%- endfor -%}
        </span>
      {%- endif -%}
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        <div class="post-excerpt">{{ post.excerpt }}</div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="feed-subscribe">
    <a href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true">
        <path d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19.01 7.38 20 6.18 20C4.98 20 4 19.01 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1z"/>
      </svg>
      Subscribe via RSS
    </a>
  </p>
  
  {% endif %}
  
</div>
